<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                <header>
                    <h2>{{article.title}}</h2>
                </header>

                <p>
                    {{article.content}}
                </p>
                {{#if article.imagePath}}
               <img src="{{article.imagePath}}" width="400" alt="Article Image">
                {{/if}}
                {{#if article.edit}}
                    <small class="author">
                        <br><p>At {{article.editDate}} the article was edited by {{article.editName}}.</p>
                    </small>
                {{else}}
                    <small class="author">
                        <br><p>At {{article.date}} the article was created by {{article.author.fullName}}.</p>
                    </small>
                {{/if}}
                <small class="author">
                    <p>Author {{article.author.fullName}}</p>
                </small>

                <footer>
                    <div class="pull-left">
                        {{# each article.tags}}
                            <a class="btn btn-default btn-xs" href="/tag/{{this.name}}">{{this.name}}</a>
                        {{/each}}
                    </div>
                    <div class="pull-right">
                        {{#if isUserAuthorized}}
                        <a class="btn btn-success btn-xs" href="/article/edit/{{article.id}}">Edit &raquo;</a>
                        <a class="btn btn-danger btn-xs" href="/article/delete/{{article.id}}">Delete &raquo;</a>
                        {{/if}}
                        <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
                    </div>

                    <br><br>
                    <div class="container body-content">
                            <h2>Comments</h2>
                            <div class="row">
                                <table style="width:100%; border-collapse:separate; border:1px solid #aaa"; class="table table-striped table-hover ">
                                    <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Comment</th>
                                        <th>Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#each article.comments}}
                                        <tr>
                                            <td>{{ this.user }}</td>
                                            <td valign="top" style="padding:5px; background:#fff; border-bottom-right-radius: 5px; border-top-right-radius: 5px;"><div style="border-collapse: separate;"><p>{{ this.content }}</p></div></td>
                                            <td><small class="author">{{ this.date }}</small></td>
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                                <a class="btn btn-default btn-xs" href="/article/comment/{{article.id}}">Comment &raquo;</a>
                        </div>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>
