<div class="container body-content">
    <div class="row">
        {{#each articles}}
            <div class="col-md-6">
                <article>
                    <header>
                        <h2>{{this.title}}</h2>
                    </header>

                    <p>
                        {{substring this.content 0 500}}
                    </p>
                    {{#if imagePath}}
                        <img src="{{this.imagePath}}" width="150" alt="Article Image">
                    {{/if}}
                    <p>
                        {{#each this.tags }}
                            <br><a class="btn btn-default btn-xs"
                               href="/tag/{{this.name}}">{{ this.name }}</a>
                        {{/each}}
                    </p>
                    <small class="author">
                        {{this.author.fullName}}
                    </small>

                    <footer>
                        <div class="pull-right">
                            <a class="btn btn-default btn-xs" href="/article/details/{{this.id}}">Read more &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        {{/each}}
    </div>
</div>